name: Linux
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12, 14, 15, 16]
    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: apt-get
      run: apt-get install -y -qq libudev-dev libusb-1.0-0-dev
    - name: npm install, build, and test
      run: |
        node --version
        npm i --build-from-source=usb
        npm test
